{% extends "base.html" %} {% block content %}
<div class="home-container">
    <div class="profile-pic">
        <img
            src="{{ url_for('static', filename='images/me.webp') }}"
            alt="Profile Picture"
        />
    </div>
    <p class="home-subtitle">EE @ Purdue</p>
    <div class="social-icons">
        <a
            href="https://github.com/ronakpjain"
            target="_blank"
            aria-label="GitHub"
        >
            <i class="fa-brands fa-github"></i>
        </a>
        <a
            href="https://instagram.com/ronakjain628"
            target="_blank"
            aria-label="Instagram"
        >
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a
            href="https://linkedin.com/in/ronakpjain"
            target="_blank"
            aria-label="LinkedIn"
        >
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
</div>
{% endblock %}
