{% extends "base.html" %} {% block content %}

<style>
    .project-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        margin: 2rem auto;
        font-size: 1rem;
    }

    a.project-card {
        display: block;

        flex: 0 1 500px;

        color: inherit;
        text-decoration: none;

        border: 1px solid #fab387;
        border-radius: 12px;
        padding: 1.5rem 2rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    a.project-card:hover {
        transform: translateY(-4px);
        opacity: 1; !important
    }

    a.project-card:hover h1 {
        text-decoration: underline;
    }

    .project-list > a.project-card:last-child {
        margin-bottom: 0;
    }

    .project-card h1 {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1.6rem;
    }

    .project-card ul {
        padding-left: 20px;
        margin: 0;
        list-style-type: disc;
    }

    .project-card li {
        margin-bottom: 0.5rem;
        line-height: 1.6;
    }
</style>

<div class="project-grid">
    <a
        id="robomasters"
        class="project-card"
        href="https://github.com/PurdueRM/Embedded-Control"
        target="_blank"
    >
        <h1>Purdue Robomasters</h1>
        <ul>
            <li>Embedded C for robot controls with STM32 microcontrollers</li>
            <li>
                Working on complete rewrite of codebase with support for new
                mainboard
            </li>
        </ul>
    </a>

    <a
        id="per"
        class="project-card"
        href="https://github.com/PurdueElectricRacing/firmware"
        target="_blank"
    >
        <h1>Purdue Electric Racing</h1>
        <ul>
            <li>Designing PCBs for testing with some power stuff</li>
            <li>
                Porting scheduler to FreeRTOS (mostly figuring out headers and
                cmake)
            </li>
            <li>Writing HAL for high speed external oscillator</li>
        </ul>
    </a>

    <a
        id="ronfire"
        class="project-card"
        href="https://github.com/ronakpjain/ronfire"
        target="_blank"
    >
        <h1>Ronfire</h1>
        <ul>
            <li>Custom HTTP webserver in Rust with Tokio for async</li>
            <li>
                Serves responses on a Unix socket (caddy reverse proxy for now)
            </li>
            <li>
                Working on features for actual usage including config file for
                dynamic routing and serving
            </li>
            <li>
                Maybe write my own reverse proxy with (custom?) HTTP2 support
            </li>
        </ul>
    </a>

    <a
        id="ronq"
        class="project-card"
        href="https://github.com/ronakpjain/ronq"
        target="_blank"
    >
        <h1>Ronq</h1>
        <ul>
            <li>Concurrent task runner with C++, fork(), and exec()</li>
            <li>Docker compose without the containers</li>
            <li>
                Made for testing stuff (ronfire + caddy) -> Updating for actual
                deployment (no docker)
            </li>
            <li>
                Need to add configuration support for different types of tasks
                like hidden and in front (openocd + gdb)
            </li>
        </ul>
    </a>

    <a
        id="mofi"
        class="project-card"
        href="https://github.com/ronakpjain/mofi"
        target="_blank"
    >
        <h1>Mofi</h1>
        <ul>
            <li>Spotlight replacement because spotlight has 🤢 colors</li>
            <li>
                Tauri with Rust backend (finding and opening apps) and Svelte
                frontend
            </li>
        </ul>
    </a>
</div>

{% endblock %}
